.testimonial-section {
  background: #a678e4;
  border-radius: 48px;
  padding: 64px 0 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  height: 400px;
}

.testimonial-title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
}


